.App {
}

.App-header {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0px;
  height: 30vh;
  width: 100%;
  transition: height 0.2s linear;
}

.App-header p {
  margin: 5vw;
}

.scroll {
  padding: 10vh;
  margin-top: 30vh;
}

.scroll p {
  margin: 0;
}

.App-link {
  color: #61dafb;
}
