.App-header {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  font-family: Roboto;
  color: white;
  position: fixed;
  top: 0px;
  height: 20vh;
  width: 100%;
  transition: height 0.2s linear;
}

.App-header p {
  margin: 5vw;
  flex: 5;
  text-align: left;
}

.App-header button {
  margin: 3vw;
  flex: 1;
  font-size: calc(5px + 2vmin);
  word-wrap: none;
  max-height: 90%;
  margin: 5%;
}

.scroll {
  padding: 5vh 10vh 1vh 10vh;
  margin-top: 20vh;
}

.scroll p {
  margin: 0;
}

.App-link {
  color: #61dafb;
}
